<section class='container' id="product-search">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome <span id="product-search-username"></span>!</h2>
                
                <p>Use the form below to search for products or <a id="view-link" href="">view your wishlist</a></p>
            </div>
        </div>
    </section>