<section class='container' id="product-search">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome <span id="product-search-username"></span>!</h2>
                
                <p>Use the form below to search for products or <a id="view-link" href="">view your wishlist</a></p>
                
                <form>
                    <input type="text" class="form-control" id="search-box" placeholder="Search for Items to add to your wishlist">
                </form>
                <div id="results-container"></div>
            </div>
        </div>
    </section>